---
---

:root {
    --light: #bfd0ec;
    --purple-dark: #240046;
    --purple-med-dark: #3C096C;
    --purple-med: #5A189A;
    --purple-med-light: #7B2CBF;
    --purple-light: #9D4EDD;
    --purple-very-light: #cdace7;
    --purple-super-light: #e0bcf4;
    --showreel-width: min(1005px, 90vw);
    --light-gradient: linear-gradient(-45deg, var(--purple-super-light), var(--light));
    --dark-gradient: linear-gradient(-45deg, var(--purple-med-light), var(--purple-dark))
}

@font-face {
    font-family: BebasNeue;
    src: url("/assets/fonts/BebasNeue-Regular.ttf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: Lato;
    src: url("/assets/fonts/Lato-Regular.ttf") format("opentype");
    font-display: swap;
}

body {
    font-family: Lato;
    background: var(--dark-gradient);
    min-height: 100vh;
}

h1 {
    font-family: BebasNeue;
    font-size: 4.5em !important;
}

h2 {
    font-family: BebasNeue;
    font-size: 3em !important;
}

h3 {
    font-family: BebasNeue;
    font-size: 2em !important;
}

p ul {
    opacity: 0.85;
}

.stars {
    font-size: 2em !important;
}

a:link {
    color: inherit;
    opacity: inherit;
}

.font-bebas {
    font-family: BebasNeue;
}

.font-lato {
    font-family: Lato;
}

#navbar {
    background: var(--purple-dark);
}

#navbar-hamburger {
    font-size: 2em !important;
    color: white;
}

.nav-link {
    font-family: BebasNeue;
    font-size: 2em !important;
}

.cta-button {
    font-size: 2em !important;
    font-family: BebasNeue;
    border: none;
}

#showreel {
    width: var(--showreel-width);
    height: calc(var(--showreel-width)*(565/1005));
}

.about-icon {
    font-size: 5em !important;
    color: var(--purple-med-dark);
}

.background-light {
    background: var(--light-gradient);
}

.background-dark {
    background: var(--dark-gradient);
}

#submit-button {
    background: var(--purple-dark);
    border: var(--purple-med-dark);
}

.grecaptcha-badge { 
    visibility: hidden;
}