---
layout: default
title: "Electric Mavericks"
permalink: "/"
---

<div id="hero" class="row text-light py-3">
  <div class="col">
    <div class="row">
      <div class="col text-center">
        <h1>Electric Mavericks</h1>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <h2>Wiltshire and Berkshire's best indie rock trio</h2>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col text-center">
        <a
          role="button"
          id="cta-button"
          class="btn btn-primary btn-large text-light"
          href="https://electricmavericks.co.uk/contact"
        >
          Enquire Now
        </a>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto text-center">
        <lite-youtube
          id="showreel"
          videoid="eagdJADNbDc"
          posterquality="maxresdefault"
          posterloading="eager"
        ></lite-youtube>
      </div>
    </div>
  </div>
</div>
<div id="about" class="row text-dark py-3">
  <div class="col">
    <div class="row">
      <div class="col text-center">
        <h2 class="pt-3">About Us</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col col-md-8 text-center">
        <p class="font-lato fs-5">
          Introducing Electric Mavericks, a dynamic indie rock trio based in
          Wiltshire and Berkshire ready to ignite your party with their
          infectious melodies and powerful stage presence. Their captivating
          high-energy performances are the perfect addition to parties,
          weddings, festivals, and private celebrations. Let Electric Mavericks
          elevate your event and create an unforgettable musical experience for
          you and your guests.
        </p>
      </div>
    </div>
    <div class="row justify-content-evenly">
      <div class="col-12 col-lg-4 col-md-6 text-center pt-2">
        <div class="row">
          <i class="bi bi-music-note about-icon"></i>
        </div>
        <div class="row">
          <h3>Our Style</h3>
        </div>
        <div class="row">
          <p class="font-lato fs-5">
            An exciting mix of modern indie and classic rock. Equally at home at
            intimate private events or playing to hundreds on the biggest
            festival stages.
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-4 col-md-6 text-center pt-2">
        <div class="row">
          <i class="bi bi-check-lg about-icon"></i>
        </div>
        <div class="row">
          <h3>Our Experience</h3>
        </div>
        <div class="row">
          <p class="font-lato fs-5">
            With many years of experience and hundreds of performances of all
            sizes around the UK and the world, as touring session musicians and
            as members of the country's most sought-after acts, Electric
            Mavericks are consummate professionals.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="packages" class="row text-light py-3">
  <div class="col">
    <div class="row text-center">
      <h2>What We Do</h2>
    </div>
    <div class="row justify-content-evenly">
      <div class="col-12 col-lg-5 col-md-6 pt-2">
        <div class="row text-center">
          <h3>Full Entertainment Package</h3>
        </div>
        <div class="row">
          <div class="col">
            <ul>
              <li class="font-lato fs-5">
                Professional three-piece indie rock band with a two hour live
                show!
              </li>
              <li class="font-lato fs-5">
                Wide repertoire ranging from modern indie to classic rock
              </li>
              <li class="font-lato fs-5">Professional PA and stage lighting</li>
              <li class="font-lato fs-5">
                Bespoke pre-mixed DJ service before, between, and after live
                sets
              </li>
              <li class="font-lato fs-5">
                Your choice of first dance or special request performed
              </li>
              <li class="font-lato fs-5">
                PAT certified equipment and Public Liability Insurance
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-5 col-md-6 pt-2">
        <div class="row text-center">
          <h3>Optional Extras</h3>
        </div>
        <div class="row">
          <div class="col">
            <ul>
              <li class="font-lato fs-5">
                60 minute live lounge-style acoustic set - perfect for your
                drinks reception
              </li>
              <li class="font-lato fs-5">
                Band member to DJ live before and after live sets
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="reviews" class="row text-dark py-3">
  <div class="col">
    <div class="row text-center">
      <h2>Reviews</h2>
    </div>
    <div id="reviews-wrapper" class="row justify-content-evenly text-center">
      {% assign first_reviews = site.data.reviews | slice: 0, 3 %}
      {% for review in first_reviews %}
      <div class="col-12 col-sm-6 col-md-4 pt-2">
        <div class="row">
          <h3>
            {% for i in (1..5) %}
            <i class="bi bi-star-fill"></i>
            {% endfor %}
          </h3>
        </div>
        <div class="row">
          <p class="fs-5">{{ review.text }}</p>
        </div>
        <div class="row">
          <p>{{ review.event }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row mb-3">
      <div class="col text-center">
        <a
          role="button"
          id="cta-button"
          class="btn btn-primary btn-large text-light"
          href="https://electricmavericks.co.uk/reviews"
        >
          See More
        </a>
      </div>
    </div>
  </div>
</div>

{% include contact.html %}